#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */

#GamesCarousel
{
    background-color: cyan;
}

#GamesCarousel img
{
    height: 250px;
    margin-top: 50px;
}

#GamesCarousel p
{
    margin-top:15px;
    margin-bottom:15px;
    color:  darkred;
    font-size:25px;
    
}
